.ir {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visible{
  display: block !important;
}

.block{
  display: block;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.invisible {
  visibility: hidden;
}

.horizontal-only{
  height: auto;
  max-height: 200px;
}

.right{
  float: right;
}

.left{
  float: right;
}

.align-left{
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.t-align-center{
  text-align: center;
}

.mobile{
  display: block;
}
.desktop{
  display: none;
}

.loading{
  overflow: hidden;
  &::before{
    content: '';
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }
  &::after{
    content: 'Conectando ao Facebook, por favor aguarde ...';
    position: fixed;
    top: 50%;
    padding: 20px;
    font-weight: bold;
    font-size: 23px;
    margin-top: -40px;
    z-index: 999;
    left: 0;
    margin-left: 0;

    @media #{$tablet}{
      left: 50%;
      margin-left: -280px;
    }
  }
}