/*==============================
=            Colors            =
==============================*/

$themeColors: (
  'black': #000,
  'white': #fff,
  'light-gray': #F1F1F1,
  'cornflower-blue': #4E5D9D,
  'gray': #717a8f,
  'halloween': #54246a,
  'andromeda': #733e97,
  'night': #315aa9,
  'sky': #3186c7,
  'sunshine': #f3ac47,
  'pink': #da1e77,
  'salmon': #e75a6a,
  'darkness': #333333,
  'mellow': #9e9e9e,
  'nature': #06d25a,
  'void': #eeeeee,
  'baby': #27b9f5,
  'green': #1d9b6a,
  'dark-green': #40ae49,
  'blue': #3ebbc1,
  'purple': #7140ae,
);

/*=====  End of Colors  ======*/

/*================================
=            Defaults            =
================================*/

$rounded: 5px;

/*=====  End of Defaults  ======*/

/*==============================
=            Layout            =
==============================*/

$column-gutter: 25px;

/*=====  End of Layout  ======*/

$font-default: 'Montserrat', sans-serif;
$font-titles: 'hudson', sans-serif;
$font-secondary: 'Lato', sans-serif;

// Media Queries
$phone: "(min-width: 0px)";
$smartphone: "(min-width: 319px)";
$only-smartphone: "(max-width: 699px)";
$tablet: "(min-width: 700px)";
$only-tablet: "(min-width: 700px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$large-desktop: "(min-width: 1280px)";
$widescreen: "(min-width: 1500px)";
// end of 'Media Queries'