.fera-btn{
  @include rem(padding, 15px 30px);
  border-radius: 0;
  color: color('white');
  @include rem(font-size, 13px);
  @include rem(line-height, 14px);

  //new colors

  span{
    color: color('white');
    @include rem(font-size, 10px);
    font-weight: bold;
    display: block;
    @include rem(margin-bottom, 3px);
  }

  &.-green{
    background: color('green');
    &:hover{
      background: #32b481;
    }
  }

  &.-dark-green{
    background: color('dark-green');
    &:hover{
      background: #61ca69;
    }
  }

  &.-blue{
    background: color('blue');
    &:hover{
      background: #52cdd3;
    }
  }

  &.-purple{
    background: color('purple');
    &:hover{
      background: #8559bb;
    }
  }

  &.-action{
    @include rem(font-size, 20px);
    text-transform: uppercase;
    font-weight: 700;
    @include rem(padding, 25px);
    width: 100%;
    text-align: center;

    i{
      @include rem(margin-right, 10px);
    }
  }
}
