.fera-form{
  .form-input{
    border-radius: 0;
    display: inline-block;
    @include input-placeholder {
      font-family: "Open Sans";
      color: color("mellow");
    }
  }

  .form-select{
    @include rem(margin-bottom, 20px);
    border-radius: 0;
    color: color("mellow");
    font-family: "Open Sans";
  }

  .form-label{
    color: color(mellow);
    font-weight: normal;
    @include rem(font-size, 16px);
    @include rem(letter-spacing, 1px);
  }

  .division{
    @include rem(padding, 10px);
  }

  .ddd{
    width: 20%;
  }

  .telefone{
    width: calc(80% - 5px);
  }

  .bt-submit{
    background: #b71984;
    border-radius: 0;
  }

  .select-container::after{
    pointer-events: none;
  }

  .form-control{
    position: relative;
  }

  label.error{
    position: absolute;
    left: 0;
    bottom: -13px;
    @include rem(font-size, 10px);
    text-transform: uppercase;
    font-weight: bold;
    color: color('pink');
  }

  label#tel-error{
    left: 0;
    bottom: -28px;

      @media #{$tablet}{
        left: 21%;
        bottom: -15px;
      }
  }

  .aceito{
    @media #{$only-smartphone}{
      @include rem(margin, 20px 0 30px);
    }
  }
}