.fera-header {
    box-shadow: 0px 3px 3px 0px rgba(black, 0.1);
    padding-left: 5%;
    padding-right: 5%;
}
.fera-top-article{
  .article-author{
   img{
      width: auto;
      height: auto;
    }

    .author-text{
      font-weight: bold;
      @include rem(font-size, 14px);
      text-align: right;
      @include rem(line-height, 18px);

      .plate{
        display: block;
        font-weight: 100;
      }
    }
  }
}