.icon-youtube:before {
  content: "\e018";
}

.icon-linkedin:before {
    content: "\e016";
}

.icon-envelop:before {
  content: "\e003";
}

.icon-instagram:before {
    content: "\e00e";
}

.icon-facebook:before {
    content: "\e002";
}

.icon-phone:before {
    content: "\e600";
}

.icon-clock:before {
    content: "\e01a";
}

.icon-search:before {
    content: "\e012";
}

.icon-menu:before {
    content: "\e800";
}