.list-simple {
  @include rem(margin-top, 35px);

  > li {
    @include rem(margin-bottom, 20px);
  }

  .item-title {
    @include rem(font-size, 16px);
    color: #666666;
    @include rem(margin-bottom, 8px);
  }

}