.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(black, 0.7);
  z-index: 9999;
  display: none;

  .modal-btn-close {
    position: absolute;
    @include rem(top, 20px);
    @include rem(right, 20px);
    @include rem(font-size, 30px);
    background-color: transparent;
    border: 0;
    font-weight: 200;
    @extend %button-feedback;
  }

  > .modal-box {
    background-color: #fff;
    @include align;
    @include rem(padding, 40px);

    &.-minsize {
      @include rem(min-width, 500px);
    }

  }

}