.fera-table{
  border: 1px solid color('light-gray');
  .icon-check{
    @include rem(font-size, 8px);
    @include rem(margin-left, 5px);
  }
  .label-card{
    @include rem(font-size, 12px);
    @include rem(margin-top, 6px);
    display: block;
  }

  thead{
    th{
      font-weight: 500;
      text-transform: none;
      @include rem(font-size, 16px);
    }
  }

  tbody{
    td{
      @include rem(font-size, 15px);
      @include rem(padding, 20px);
    }
  }
}