#wrapper{
  h2{
    @include rem(font-size, 40px);
    //@include rem(padding-bottom, 40px);
    //@include rem(margin-bottom, 50px);
    font-weight: bold;
    font-family: $font-titles;
    color: #333;

    &::after{
      content:"";
      @include rem(width, 132px);
      height: 3px;
      background: color('green');
      display: block;
      @include rem(margin, 30px 0);
    }

    &.t-align-center{
      &::after{
        @include rem(margin, 30px auto);
      }
    }

    &.-white{
      color: color('white');
    }

    &.-dark-green{
      color: color('dark-green');

      &::after{
        background: color('dark-green');
      }
    }
  }

  h3{
    @include rem(font-size, 24px);
    @include rem(margin-bottom, 20px);
    font-weight: 900;
    text-transform: uppercase;
    font-family: $font-default;

    &.-white{
      color: color('white');
    }
  }

  p{
    @include rem(font-size, 16px);
    @include rem(margin-bottom, 20px);
  }

  ul{
  	@include rem(padding-left, 20px);

  	li{
  		@include rem(font-size, 16px);
  		@include rem(margin-bottom, 20px);
  		list-style: circle;
  		span{
  			color: #606060;
  		}
  	}
  }
}