strong {
  font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
}

.uppercase{
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.grid-container{
  max-width: 800px;
}

body{
  font-family: 'Montserrat', sans-serif;
}

#wrapper{
  font-family: 'Montserrat', sans-serif;
}

.mauticform-errormsg{
	margin-bottom: 20px;
  display: block;
}

.mauticform-message{
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #4baf33;
  font-size: 22px;
  text-align: center;
}