#wrapper{
section.banner{
  background: #f1f1f1 url('../images/logo-fbsp-mobile.png');
  background-size: 45%;
  @include rem(background-position, 25px 50px);
  background-repeat: no-repeat;
  @include rem(min-height, 730px);
  position: relative;
  top: 23px;

  @media #{$tablet}{
    background: #f1f1f1 url('../images/banner-principal-1.jpg');
    background-size: 105%;
    background-position: left top;
    background-repeat: no-repeat;
    @include rem(min-height, 730px);
  }

  @media #{$widescreen} {
    background-position: right top;
    background-size: 100%;
    @include rem(min-height, 830px);
  }


  h1{
    font-family: $font-titles;
    @include rem(font-size, 70px);
    @include rem(margin-top, 180px);
    color: #000;

    @media #{$tablet}{
      @include rem(margin-top, 60px);
      @include rem(margin-bottom, 70px);
      max-width: 50%;
    }

    @media #{$desktop}{
      @include rem(margin-top, 80px);
      @include rem(margin-bottom, 80px);
      max-width: 50%;
    }

    @media #{$large-desktop}{
      @include rem(margin-top, 130px);
      margin-bottom: 0;
      max-width: 100%;
    }

    &::after{
      content:"";
      width: 120px;
      height: 2px;
      background: color('green');
      display: block;
      @include rem(margin, 30px 0);
    }
  }

  .info{
    @include rem(margin-bottom, 50px);
    p{
      @include rem(margin-bottom, 5px);
      font-weight: 300;
      @include rem(font-size, 20px);
      color: #787878;
      margin-top: 0;

      strong{
        font-weight: 900;
        color: color('black');
      }
    }
  }

  .buttons{
    @include rem(margin-top, 5px);
    @include rem(padding, 0px 20px 70px 20px);

    @media #{$large-desktop}{
      padding: 0;
    }

    .division{
      padding: 5px;
    }

    .-purple{
      @include rem(padding, 21px 30px);
    }

    .fera-btn{
      width: 100%;

      @media #{$large-desktop}{
        width: auto;
      }
    }

  }
}


section.feira{
  background: #f1f1f1 url('../images/bg-feira.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  @include rem(min-height, 700px);
  @include rem(padding-top, 87px);
  margin-top: 23px;

  ul{
    max-width: 70%;
    @include rem(margin, 0 auto 100px);
    text-align: center;

    li{
      list-style: none;
      display: inline;
      @include rem(font-size, 21px);
      font-weight: bold;
      color: color('white');
      @include rem(margin-left, 5px);
      @include rem(line-height, 30px)
    }
  }

  .item{
    p{
      color: color('white');
      @include rem(line-height, 20px);
    }
  }

  .fera-btn{
    text-align: center;
    @include rem(font-size, 14px);
    @include rem(line-height, 20px);
    @include rem(margin-bottom, 20px);
    width: 100%;

    @media #{$tablet}{
      width: auto;
      @include rem(max-width, 270px);
    }
  }
}


section.destaque{

  background: #0d0d0d;
  @include rem(padding-top, 60px);

  @media #{$tablet}{
    background: #0d0d0d url('../images/bg-destaque.jpg');
    background-size: cover;
    background-position: -380px top;
    background-repeat: no-repeat;
  }

  @media #{$desktop}{
    background-size: 105%;
    background-position: left top;
  }


  h2{
    @include rem(font-size, 40px);
  }

  p{
    color: color('white');
    @include rem(line-height, 24px);
    @include rem(margin-bottom, 30px);
  }

  a{
    @include rem(margin-bottom, 40px);
  }
}


section.atracoes{
  background-color: #ffffff;
  @include filter-gradient(#ffffff, #f5fcfc, vertical); // IE6-9
  @include background-image(linear-gradient(top, #ffffff 0%,#ffffff 78%,#f5fcfc 78%,#f5fcfc 100%));
  @include rem(padding-top, 70px);

  a{
    @include rem(min-height, 260px);
    display: block;
    position: relative;

    &.atracao1{
      background: url('../images/atracao1.jpg');
      background-size: cover;
      background-position: center top;
      @media #{$desktop}{
        background-size: 100% auto;
      }
    }
    &.atracao2{
      background: url('../images/atracao2.jpg');
      background-size: cover;
      background-position: center top;
      @media #{$desktop}{
        background-size: 100% auto;
      }
    }
    &.atracao3{
      background: url('../images/atracao3.jpg');
      background-size: cover;
      background-position: center top;
      @media #{$desktop}{
        background-size: 100% auto;
      }
    }
    &.atracao4{
      background: url('../images/atracao4.jpg');
      background-size: cover;
      background-position: center top;
      @media #{$desktop}{
        background-size: 100% auto;
      }
    }
    &.atracao5{
      background: url('../images/atracao5.jpg');
      background-size: cover;
      background-position: center top;
      @media #{$desktop}{
        background-size: 100% auto;
      }
    }
    &.atracao6{
      background: url('../images/atracao6.jpg');
      background-size: cover;
      background-position: center top;
      @media #{$desktop}{
        background-size: 100% auto;
      }
    }

    &:hover{
      span{
        border: 1px solid color('white');
      }
    }

    span{
      @include rem(padding-top, 70px);
      @include rem(font-size, 40px);
      color: color('white');
      text-align: center;
      font-family: $font-titles;
      display: block;
      width: calc(100% - 60px);
      height: calc(100% - 60px);
      position: absolute;
      @include rem(margin, 30px);
      border: 1px solid transparent;
    }
  }
}

section.cursos{
  @include rem(padding-top, 130px);
  @include rem(padding-bottom, 100px);
  background: #f5fcfc;

  h2{
    @include rem(font-size, 50px);
    &::after{
      display: none;
    }
  }

  p.subtitle{
    @include rem(padding-top, 10px);
    text-transform: uppercase;
    color: color('dark-green');
    &::after{
      content:"";
      @include rem(width, 132px);
      height: 3px;
      background: color('green');
      display: block;
      @include rem(margin, 30px auto);
    }
  }

  .lista-cursos{
    ul{
      li{
        list-style:none;
        background: color('white');
        @include rem(margin, 20px);
        &:hover{
          box-shadow: 4px 4px 1px rgba(0,0,0,0.1);
        }

        @media #{$tablet}{
          &.\-4{
            width: calc(33.33333% - 40px);
          }
        }

        h3{
          margin-top: 20px;
          @include rem(margin-top, 20px);
          font-weight: 300;
          text-transform: none;
          @include rem(font-size, 18px);
        }

        p{
          span{
            text-decoration: line-through;
          }

          strong{
            @include rem(padding-left, 20px);
            text-decoration: none;
          }
        }
      }
    }

     .fera-btn{
      width: 100%;
      text-align: center;
      @include rem(border-radius, 20px);
      font-weight: bold;
      @include rem(font-size, 14px);
      @include rem(padding-top, 15px);

      &.-blue{
        display: block;
        @include rem(max-width, 200px);
        @include rem(margin, 0 auto);
      }
    }
  }
}

section.congresso{
  background: #f1f1f1 url('../images/bg-congresso.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  @include rem(padding-top, 100px);
  @include rem(padding-bottom, 180px);

  .layout-group{
    @include rem(padding, 0 60px);

    @media #{$tablet}{
      padding: 0;
    }
  }

  p{
    @include rem(font-size, 17px);
    color: #333;
    font-weight: 400;
    text-transform: uppercase;
    font-family: $font-secondary;

    @media #{$large-desktop}{
      @include rem(font-size, 25px);
    }

    strong{
      @include rem(font-size, 110px);
      font-weight: 900;
      display: block;
    }
  }
}

section.juntos{
  @include rem(min-height, 200px);
  background: #fff url('../images/juntos.jpg');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center bottom;

  @media #{$tablet}{
    @include rem(min-height, 340px);
    background-size: auto 100%;
  }

  @media #{$large-desktop}{
    @include rem(min-height, 560px);
    background-size: auto 100%;
  }
}


section.expositor{
  @include rem(min-height, 560px);
  background: #fff url('../images/bg-expositor.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
  @include rem(padding, 40px 0 40px);

  @media #{$tablet}{
    @include rem(padding, 40px 0 0);
  }

  .form-expositor{
    background: #FFF;
    @include rem(padding, 20px 40px);
    box-shadow: 6px 6px 14px rgba(206, 206, 206, .5);
    width: 100%;

    @media #{$desktop}{
      @include rem(width, 700px);
      background: #FFF;
      @include rem(padding, 35px 100px);
      float: right;
      box-shadow: 6px 6px 14px rgba(206, 206, 206, .5);
    }

    h2{
      font-weight: 400;
      @include rem(font-size, 30px);
      text-transform: uppercase;
      color: #333;
      text-align: center;
      @include rem(margin-bottom, 30px);
      font-family: $font-secondary;
      &::after{
        display: none;
      }
    }

    label{
      @include rem(font-size, 14px);
      text-transform: uppercase;
      font-weight: bold;
      @include rem(margin-bottom, 10px);
      display: block;
      color: color('green');
    }

    input{
      @include rem(padding, 14px);
      width: 100%;
      @include rem(margin-bottom, 20px);
      border: 1px solid #CCC;
    }

    button{
      background: #FFF;
      border: 2px solid color('green');
      color: color('green');
      font-weight: 400;
      @include rem(font-size, 14px);
      &:hover{
        color: color('white');
      }
    }
  }
}


footer.foot{
  @include rem(padding, 100px 30px);
  text-align: center;
  @include rem(height, 400px);

  &::before{
    content: "";
  }

  @media #{$tablet}{
    height: 460px;
  }

  @media #{$desktop}{
    height: auto;
  }
}

}